.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

.above {
  z-index: 1;
}

.middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
}

.title-input {
  outline: none;
  caret-color: transparent;
  white-space: nowrap;
}

.bottom {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
}

.top {
  text-align: center;
  color: transparent;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.cursor {
  margin: 0;
  height: 50%;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  width: 2rem;
  background-color: white;
  animation-name: blink;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
}

.error {
  color: red;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

code {
  background-color: grey;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-0.5em, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1em, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2em, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2em, 0, 0);
  }
}
